[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pystac = "==1.1.0"
jsonschema = "*"
requests = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
