name: Test Runner

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:

  test:

    name: Execute tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9]
    
    steps:

      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@main
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run unit tests
        run: |
          pip install -i https://test.pypi.org/simple/ stac-validator==2.3.0
          pip install .
          pytest -v

      - name: Run tox
        run: |
          pip install tox
          tox -e py
